<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	  
  <head>    

    <th:block th:include="layout/headerinc :: head"></th:block>
	
	<title>Courses</title>
	
  </head>
  
    <body>
  
    <div th:replace="layout/tabs :: 'menu-admin'">&nbsp;</div>
    
    <!-- INIT CONTENT -->
    
    <div class="container">    
    <br/><br/><br/><br/><br/>
    
    <div class="form-group modal-header">
     <p th:href="@{'/courses'}"  class="pull-right btn btn-danger btn-xm">Editar</p>
         <h3 class="modal-title" th:text=" 'Curso: ' + ${curso.nombre}">Course</h3>        
    </div>     
    
       <div class="modal-body">

		<form class="form-horizontal" role="form">		  
		  
		  <div class="form-group">
             <label class="col-sm-2 control-label">Description:</label>
             <div class="col-sm-10">
               <p class="form-control-static" th:text="${curso.descripcion}">Description</p></div>
          </div>
          
          <div class="form-group">
             <label class="col-sm-2 control-label">Instructor:</label>
             <div class="col-sm-10">
               <p class="form-control-static" th:text="${curso.docente != null} ? ${curso.docente.nombre} + ' ' + ${curso.docente.apellido} : 'Profesor no asignado aun!!!'">Instructor</p></div>
               
          </div>
          
          <div class="form-group">
             <label class="col-sm-2 control-label">Duration:</label>
             <div class="col-sm-10">
               <p class="form-control-static" th:text="${curso.duracion} + 'hs'">80hs</p></div>
          </div>
          
          <div class="form-group">
             <label class="col-sm-2 control-label">Fecha Inicio:</label>
             <div class="col-sm-10">
               <p class="form-control-static" th:text="${#calendars.format(curso.fechaInicio,'dd/MM/yyyy')}">DD/MM/YYYY</p></div>
          </div>
          
          <div class="form-group">
             <label class="col-sm-2 control-label">Fecha Fin:</label>
             <div class="col-sm-10">
               <p class="form-control-static" th:text="${#calendars.format(curso.fechaFin,'dd/MM/yyyy')}">DD/MM/YYYY</p></div>
          </div>
		  
		  <div class="form-group">
             <label class="col-sm-2 control-label">Schedule:</label>
             <div class="col-sm-10">
               <p class="form-control-static" >Thursday/Friday from 14:00 to 18:00</p></div>
          </div>
          
          
          <div class="form-group">
             <label class="col-sm-2 control-label">Price:</label>
             <div class="col-sm-10">
               <p class="form-control-static" th:text=" '$' + ${curso.costo}">300</p></div>
          </div>
                    
		  
		</form>   
		
		 </div>
		 <div class="modal-footer">
             <a th:href="@{'/courses'}" class="pull-right btn btn-primary">Volver</a>
             <a th:href="@{'/listStudents/' + ${curso.codCurso}}" class="pull-right btn btn-success">Listar Alumnos</a>
         </div>
    
    </div>
    
   <!-- FIN CONTENT -->

    
  </body>
</html>
  


