<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	  
  <head>
    <th:block th:include="layout/headerinc :: head"></th:block>	
  </head>
  
   <body>     
     <!-- INIT CONTENT -->
     <div th:replace="layout/tabs :: 'menu-admin'">&nbsp;</div>
     
    <!-- INIT CONTENT -->
    <div>
    <div class="container">    
    <br/><br/><br/><br/><br/><br/>

	<div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" th:text="${curso} + ' : Listado Alumnos'">LISTA ALUMNOS</h4>
                </div>
                <div class="modal-body">
                    <p></p>

                        <div th:unless="${#lists.isEmpty(listaAlumnos)}">
                            <table class="table table-striped table-hover ">
                                <thead>
                                <tr class="info">
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>DNI</th>
                                    <th>Telefono</th>                                    
                                    <th>Accion</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="alu : ${listaAlumnos}">
                                    <td th:text="${#strings.substring(alu.idAlumno,20,24)}">ID Alumno</td>

                                    <td th:text="${alu.nombre}">Nombre</td>
                                    <td th:text="${alu.apellido}">Apellido</td>
                                    <td th:text="${alu.dni}">DNI</td>
                                    <td th:text="${alu.telefono}">Telefono</td>                                    						
                                    <td>
                                    	<a th:href="@{'/viewAlumno/'+ ${idCurso} + ',' + ${alu.dni}}">Ver</a><a> /</a>
                                    	<a th:href="@{'/deleteAlumno/'+ ${idCurso} + ',' + ${alu.dni}}">Borrar</a>                                    	
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                   
                </div>
                <div class="modal-footer">
                    <a th:href="@{'/viewCourse/'+ ${idCurso}}" class="pull-right btn btn-danger">Volver</a>
                    <a th:href="@{'/courses'}" class="pull-right btn btn-primary">Agregar Alumno</a>                    
                </div>
            </div> 
    
    </div>
    
   <!-- FIN CONTENT -->
   </div>
    
    
  </body>
</html>
  


